body{
    font-family: 'Epilogue', sans-serif;
    background-color: #808080;
}

main{
    background-color: #C0C0C0;
    box-shadow: 0 0 14px black;
}

header{
    height: 180px;
    font-size: 165%;
    letter-spacing: 3px;
    text-align: center;
    line-height: 180px;
    background-color: #606060;
    font-weight: bold;
    margin-bottom: 15px;
    box-shadow: 0 0 5px black;
}

footer{
    background-color: #606060;
    color: black;
    letter-spacing: 3px;
    line-height: 50px;
    text-align: center;
    box-shadow: 0 0 5px black;
}

@media(max-width: 769px)
{
    header{
        line-height: 90px;
    }
}
h2{
    text-align: center;
}
.vertical_menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 0;
}
.vertical_menu li{
    border-bottom: 1px solid black;
}
.vertical_menu li:last-child{
    border: none;
}
.vertical_menu li a{
    display: block;
    color: black;
    padding: 5px;
    text-decoration: none;
    transition: all 0.25s;

}
.vertical_menu li a:hover{
    background-color: #808080;
    padding-left: 20px;
    transition: 0.25s;
}
.logo{
    padding-right: 5px;
}
.inactive{
    color: gray;
    text-decoration: line-through;
}