@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');

*{
	display: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
}

table {
	font-size: 1em;
}

.ui-draggable, .ui-droppable {
	background-position: top;
}

#modals{
	display: flex;
	margin:0;
	justify-content: center;
}

#loginBox{
	background: url("https://www.seguetech.com/wp-content/uploads/2015/08/segue-blog-mobileapp-planning.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	position: absolute;
	top:25%;
	left:50%;
	transform: translateY(-50%);
	transform: translateX(-50%);
	height: 28em;
	width: 25em;
	border:lightgray solid 0.5px;
	border-radius: 5px;
	box-shadow: 12px 12px 5px grey;
	padding: 5px;
	text-align: center;
	flex-wrap: wrap;
}

#loginBox h2{
	margin: 0 0 9.6em;
}

/* #modals #btn1{
	float: left;
}

#modals #btn2{
	float: right;
} */

#modals button{
	padding: 5px;
	margin: 5px;
	width: 8em;
}


#accordion_disabled{
	filter: blur(3px);
	pointer-events: none;
}






/* MODAL FORM */
input[type=text], input[type=password], input[type=email] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
  }
  
  button:hover {
	opacity: 0.8;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
	width: auto;
	padding: 10px 18px;
	background-color: #f44336;
  }
  
  /* Center the image and position the close button */
  .imgcontainer {
	text-align: center;
	margin: 24px 0 12px 0;
	position: relative;
  }
  
  img.avatar {
	width: 40%;
	border-radius: 50%;
  }
  
  .container {
	padding: 16px;
  }
  
  span.psw {
	float: right;
	padding-top: 16px;
  }
  
  /* The Modal (background) */
  .modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content {
	background-color: #fefefe;
	margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button (x) */
  .close {
	position: absolute;
	right: 25px;
	top: 0;
	color: #000;
	font-size: 35px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: red;
	cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
	from {-webkit-transform: scale(0)} 
	to {-webkit-transform: scale(1)}
  }
	
  @keyframes animatezoom {
	from {transform: scale(0)} 
	to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
	span.psw {
	   display: block;
	   float: none;
	}
	.cancelbtn {
	   width: 100%;
	}
}


#accordion h3{
	font-size: 2.5em;
}

#accordion li{
	font-size: 2em;
	width: 75%;
	margin-left: 0;
	text-align: left;
	list-style:none;
	font-weight: 700;
}

#accordion li span{
	float: right;
}

#accordion li .icon{
	float:right;
	margin-left:50px;
}

/* #accordion li .icon:hover{
	color:#0060ff;
} */


.cookie-banner
{
    margin: 10 0px;
    text-align: center;
    background-color: rgb(216, 207, 207);
    float: none;
    padding: 1rem;
}
.buttonstyle
{
    border-radius: 2000px;
    border: 2px solid #1452c5;
    border-color: #1452c5;
    background-color: #1452c5;
    color: rgb(255, 255, 255);
    font-weight: 500;
    padding: 8px 16px;
    transition: 0.6s;
	font-size:1.5em;
}
.buttonstyle:hover
{
    background-color: white;
    color:#1452c5;
    font-weight: 500;
}

.checkboxes{
	float:left;
	display: none;
}

.counters{
	display: none;
}

.icon{
	cursor: pointer;
}

.summ{
	width: 100%;
	margin: 10px;
	font-size: 2em;
	margin-left: 0;
	margin-right: 0;
	background-color: aliceblue;
}

h4{
	display: none;
}

#superSumm{
	background-color: #4CAF50;
	margin: 10px 0;
	padding:10px;
	
}

.summTable a{

	text-decoration: none;
}
